/*Adicionar as propriedades margin e padding no seletor universal */
*{
    margin: 0;
    padding: 0;
}

/*Iniciar Seção cabeçalho*/

.cabecalho {
    background-color: #424E61;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 12%;
}

/*A lista não ordenada ul precisa estar alinhada em uma única linha.
Crie um seletor para a classe .cabecalho-lista-item, adicionando nele 
a propriedade display com o valor inline-block:*/

.cabecalho-lista-item{
    display: inline-block;
}

/*Aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16px:*/

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

/*Aumente a fonte através da propriedade font-size de valor 24px.*/

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

/* crie um seletor (.) para a classe escola-imagem, determinando uma largura width de 25%:*/
.escola-imagem{
    width: 30%; /*largura*/
     height: 300px;/*altura*/
     border-radius: 82px; /*para definir bordas arredondadas da imagem*/   
}

/**/
.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

/**/
.escola-div-conteudo{
    width: 35%;
}

/**/
.escola-titulo{
    padding: 24px 0;
}


/**/