/*Adicionar as propriedades margin e padding no seletor universal */
*{
    margin: 0;
    padding: 0;
}

/*Iniciar Seção cabeçalho*/

.cabecalho {
    background-color: #424E61;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 12%;
    border-radius: 22px; /*para definir bordas arredondadas da imagem*/  
}

/*A lista não ordenada ul precisa estar alinhada em uma única linha.
Crie um seletor para a classe .cabecalho-lista-item, adicionando nele 
a propriedade display com o valor inline-block:*/
/*Aumente os espaçamentos entre os textos com a propriedade margin de valor 0 16px:*/
/*Aumente a fonte através da propriedade font-size de valor 24px.*/

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a {
   text-decoration: none;
   color: #FFFFFF; /*cor*/
}



/*Iniciar Seção escola*/

/* crie um seletor (.) para a classe escola-imagem, determinando uma largura width de 25%:*/
.escola-imagem{
    width: 25%; /*largura*/
     height: 300px;/*altura*/
     border-radius: 82px; /*para definir bordas arredondadas da imagem*/      
}

/**/
.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

/**/
.escola-div-conteudo{
    width: 45%;
}

/**/
.escola-titulo{
    padding: 24px 0;
}

/**/
p{
    padding: 0 40px; /* alinhar o espaçamento */
    font-size: 20px;/*tamanho da fonte*/
    font-family: Arial, Helvetica, sans-serif; /*especifica a fonte de um elemento*/
 }

 